<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/game.css">
  <title>Document</title>
</head>
<body>
  <div id = "background" class="background">
    <!-- <div class="eye">
      <div class="direction"></div>
      <div class="eyeball">
        <div class="bullet"></div>
      </div>
    </div> -->
    <!-- <img src="./pictures/bkg1.jpg" alt="ugh oh!!"> -->
  </div>
  <div id="form">
      <input name="username" required="true" type="text" autofocus="true" placeholder="username" id="userText" ></input>
      <button id="enter" type="submit" onclick="connectGame()">Enter</button>
  </div>
  <button onclick="spawnPlayer()"></button>
<script src="/scripts/player.js"></script>
<script src="/scripts/webSocket.js"></script>
</body>
</html>